


body {
    /*background:#d9c8c8;*/
    font-size:13px;
    line-height:20px;
    font-family:"Montserrat", Arial, sans-serif;
    color:#4d5355;
    -webkit-font-smoothing: antialiased;
}


#footer a{
  color: white;
}



/*vertical tabs*/
.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.vertical-text {
  margin-top:50px;
  border: none;
  position: relative;
}
.vertical-text>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.vertical-text>li>a {
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}
.vertical-text.tabs-left {
  left: -50px;
}
.vertical-text.tabs-right {
  right: -50px;
}
.vertical-text.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.vertical-text.tabs-left>li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


/*application*/
.application_index {
border:1px solid rgb(238, 238, 238);
box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
-webkit-box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
-moz-box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
border-radius: 10px;
margin-top: 10px;
padding:10px;
}

/*uelmar's company info css*/
.company-list-info{
  list-style: none;
  padding:0px;
  margin:0px;
}

.company-list-info li{
  margin-top: 20px;
}

.company-list-info .field-name{
  color: #6F6F6F;
}

.company-list-info .field-value{
  color: #505050;
  font-weight: bold;
}

.single-page{
  padding-bottom: 100px;
}
/*end*/
