.applicant-tile{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 3px 0 rgba(0,0,0,0.12)!important;
    padding:19px;
    border:1px solid #f0ad4e;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

.applicant-position{
    padding: 5px;
    background: white;
    border-radius: 3px;
    font-weight: bold;
}

.featured{
    color: #eda637;
    border: 1px solid #eda637;
}

.regular{
    color: #3c763d;
    border: 1px solid #3c763d;
}

.intern{
    color: #79ace9;
    border: 1px solid #79ace9;
}

.applicant-tile .footer{
    display: table;
    width: 100%;
}

.applicant-tile .footer a{
    text-decoration: none;
    cursor: pointer;
}

.foggy-text{
    color: #808080;
}

.applicant-name{
    margin-top:15px;
    font-size: 20px;
}

.company-name{
    /**/
    margin-bottom: 20px;
}

.company-name a{
    color: inherit;
}

.applicant-tile .applicant-image{
    position: relative;
    overflow: hidden;
}

.applicant-tile .applicant-image .bg-img{
    opacity: 0;
    z-index: -11;
    width: 100%;
}

.applicant-tile .applicant-image ._image{
    width: 100%;
    top:50%;
    left: 0px;
    position: absolute;
    transform:translateY(-50%);
}

.applicant-tile .fa-bookmark{
    position: absolute;
    right: 10px;
    top:0px;
    color: #a3a3a3;
    cursor: pointer;
}
