.main-container{
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    margin-bottom: 390px;
    min-height: 100%;
    z-index: 1;
    padding-bottom: 100px;
    background: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
    padding-top: 30px;
}

.main-container .main-content{
    position: relative;
    min-height: 100%;
}

.main-footer{
    position: fixed;
    bottom:0px;
    width: 100%;
    left: 0px;
    height: 390px;
    z-index: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}


@media (max-width: 992px){
  .main-container{
    margin-bottom: 700px;
  }
  .main-footer{
    height: 700px;
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform:translateX(-50%);
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}