.job-tile{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 3px 0 rgba(0,0,0,0.12)!important;
    padding:15px 19px 8px 19px;
    border:1px solid #f0ad4e;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

.job-tile .title{
    position: absolute;
    width: 100%;
    left:0px;
    padding:0px 15px;
}

.job-tile .photo-wrapper{
    float: right;
    width: 150px;
    background: #f3f3f3;
    margin-top: -25px;
    border: 1px solid #ececec;
}

.opening-feature-info-list{
    list-style: none;
    padding: 0px;
    margin-left: 15px;
    margin-top: 5px;
}

.opening-feature-info-list li{
    padding-top: 1px;
}

.opening-feature-info-list li .label{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 90%;
    padding-top: 4px;
}

.opening-feature-info-list li > i {
    margin-right: 10px;
}

.opening-feature-info-list li .hover-info{
    position: absolute;
    top: 100%;
    left: 0px;
    margin-top: 5px;
    display: none;
}

.opening-feature-info-list li .label:hover .hover-info{
    display: block;
}

.opening-feature-info-list li .hover-info .pointer{
    position: absolute;
    bottom:100%;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #cecece transparent;
}

.opening-feature-info-list li .hover-info .content{
    background: white;
    border:1px solid #cecece;
    color: white;
    padding: 5px;
    border-radius: 5px;
    background: #4d5355
}

.opening-feature-info-list li .hover-info .content ul{
    padding-left: 15px;
}

.job-position{
    padding: 4px;
    background: white;
    border-radius: 3px;
    font-weight: bold;
}

.featured{
    color: #eda637;
    border: 3px solid #eda637;
}

.regular{
    color: #3c763d;
    border: 3px solid #3c763d;
}

.intern{
    color: #79ace9;
    border: 3px solid #79ace9;
}

.job-tile .footer{
    display: table;
    width: 100%;
}

.job-tile .footer a{
    text-decoration: none;
    cursor: pointer;
}

.foggy-text{
    color: #808080;
}

.job-title{
    margin-top:15px;
    font-size: 20px;
}

.company-name{
    /**/
    margin-bottom: 7px;
}

.company-name a{
    color: inherit;
}
